<html>
  <head>
    <title>IA Reversi - 201314627</title>
  </head>
  <body>
    <style>
      pre {
          white-space: pre-wrap;
      }
    </style>
    <div id="content">
      <pre>{{ matriz }}</pre>
    </div>
  </body>
</html>